<br>
<br>
<br>
<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">Number</th>
<th scope="col">Name</th>
<th scope="col">Username</th>
<th scope="col">E-mail</th>
<th *ngIf="authService.AdminLoggedIn()">Delete Users</th>
</tr>
</thead>
<tbody *ngFor="let name of names; let i = index">
<tr>
<td scope="row">{{i+1}}</td>
<td>{{names[i]}}</td>
<td>{{usernames[i]}}</td>
<td>{{emails[i]}}</td>
<td *ngIf="authService.AdminLoggedIn()"><button (click)="deleteUser(i)"><i class="fas fa-user-minus" style="font-size: 20px; color:red;"></i></button></td>
</tr>
</tbody>
<tr *ngIf="authService.AdminLoggedIn()">
<td><input type="text" [(ngModel)]="name" placeholder="Name"></td>
<td><input type="text" [(ngModel)]="username" name="username" placeholder="Username"></td>
<td><input type="email" [(ngModel)]="email" name="email" placeholder="E-mail"></td>
<td><input type="password" [(ngModel)]="password" name="password" placeholder="Password"></td>
<td><button (click)="registerUser()"><i class="fas fa-user-plus"  style="font-size: 20px; color:green;"></i> </button></td>
</tr>
<tbody>

</tbody>
</table>
