<br>
<br>
<br>
<table class="table">
<thead class="thead-dark">
<tr>
<th scope="col">#####</th>
<th scope="col">Name</th>
<th scope="col">Username</th>
<th scope="col">E-mail</th>
<th scope="col">Delete/Add</th>
</tr>
</thead>
<tbody *ngFor="let name of names; let i = index">
<tr>
<td scope="row">{{i+1}}</td>
<td>{{names[i]}}</td>
<td>{{usernames[i]}}</td>
<td>{{emails[i]}}</td>
<td><button (click)="deleteAdmin(i)"><i class="fas fa-user-minus" style="font-size: 20px; color:red;"></i></button></td>
</tr>
</tbody>
<tbody>
<tr>
  <td><input type="text" [(ngModel)]="name" placeholder="Name"></td>
  <td><input type="text" [(ngModel)]="username" name="username" placeholder="Username"></td>
  <td><input type="email" [(ngModel)]="email" name="email" placeholder="E-mail"></td>
  <td><input type="password" [(ngModel)]="password" name="password" placeholder="Password"></td>
  <td><button (click)="registerAdmin()"><i class="fas fa-user-plus"  style="font-size: 20px; color:green;"></i> </button></td>
</tr>
</tbody>
</table>

<!--
<td><input type="text" [(ngModel)]="name"></td>
<td><input type="text" [(ngModel)]="username" name="username"></td>
<td><input type="email" [(ngModel)]="email" name="email"></td>
<td><input type="password" [(ngModel)]="password" name="password"></td>
<td><button (click)="registerAdmin()"> Register </button></td>
-->
